.transactionTable table {
    width: 100%;
}

.transactionTable thead tr th {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.3px;
    color: #B3B7BF;
}

.transactionTable thead tr th, .transactionTable tbody tr td {
    padding: 10px;
}

.transactionTable tbody tr td:first-child span {
    display: inline-block;
    padding: 0px 12px;
    border-radius: 6px;
}

.chainCell {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

span.textOnly {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

span.textCell {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #E0E3E6;
}

.transactionTable tbody tr td {
    background: #191B1E;
    border-bottom: 1px solid #000;
}

.transactionTable tbody tr td:first-child {
    border-radius: 8px 0px 0px 8px;
}

.transactionTable tbody tr td:last-child {
    border-radius: 0px 8px 8px 0px;
}

.transactionTable tbody tr:hover td {
    background: #202226;
}


.transactionTable {
    overflow: auto;
}

.transactionTable table {
    min-width: 992px;
}

/* Data Table Css  */

.col-sm-12.col-md-6[data-test="datatable-entries"] {
    display: none !important;
}

.col-sm-12.col-md-6[data-test="datatable-search"] {
    display: none !important;
}

thead[data-test="table-foot"] {
    display: none !important;
}
