.swiper-slide p {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--Text-Text-primary, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.swiper-slide p span {
    background: var(--Gradient-Gradient-01, radial-gradient(3754.38% 142.49% at 96.92% 0%, #F5F10E 0%, #48DAB7 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-feature-settings: 'clig' off, 'liga';
}

.topSliderWrap .topSliderOuter {overflow: hidden auto;padding-bottom: 40px;}

.topSliderWrap .topSliderOuter .swiper {
    border-radius: 16px;
    background: linear-gradient(94deg, #191B1E 46.94%, #025230 115.51%);
    padding: 34px 30px;
    overflow: unset;
}

.topSliderWrap .swiper.swiper-initialized.mySwiper .swiper-pagination {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    padding: 20px;
}


.topSliderWrap .swiper.swiper-initialized.mySwiper .swiper-pagination span.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #3C3F43;
    opacity: 1;
}

.topSliderWrap .swiper.swiper-initialized.mySwiper .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FFFC55;
}

.topSliderWrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    padding: 0 20px;
    left: 50%;
    top: 24px;
    transform: translate(-50%);
}

img.sliderArtDesk {
    display: block;
    position: absolute;
    z-index: 111;
    right: 30px;
    top: -21%;
}