@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #E0E3E6;
    background-image: linear-gradient(137deg, #191B1E, #1E2228);
    background-color: #191B1E;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

ol,
ul,
dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fw6 {
    font-weight: 600;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    max-width: 100%;
}

.pageContentRow {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.sidebarArea {
    width: 280px;
    padding: 16px 10px 24px 16px;
    background-color: #191C1F;
    overflow: hidden scroll;
    max-height: 100vh;
}

.mainWrap {
    width: calc(100% - 280px);
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
}

.headerNave {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 18px;
}

.headerRightSide {
    display: flex;
    align-items: center;
    gap: 8px;
}

.connectWallet>* {
    border-radius: 8px;
    border: 1.5px solid rgba(97, 100, 107, 0.30);
    background: rgba(148, 151, 158, 0.16);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px 8px 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.3px;
    color: #E0E3E6;
    cursor: pointer;
}

.mainWrap>* {
    width: 100%;
}

footer#footerArea {
    margin-top: auto;
}

.footerRow {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.footerRow>div {
    width: 33.3333%;
    flex-shrink: 0;
    padding: 12px 0;
}

.powerBy {
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #B3B7BF;
}

.leftCol {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #B3B7BF;
}

.footerNav a,
.footerNav {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #B3B7BF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.sidebare_navArea {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebarTopLogo {
    border-radius: 16px;
    border: 1px solid var(--stroke-stroke-primary, #3C3F43);
    padding: 16px;
}

.toggleLink {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--stroke-stroke-primary, #3C3F43);
    background: var(--background-background-tertiary, #202226);
    gap: 4px;
}

.toggleLink>a {
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.3px;
    color: #B3B7BF;
    padding: 4px 15px;
}

.NavBrand {
    display: block;
    margin-bottom: 10px;
}

.deskTopLogo {
    display: block;
    margin: 0 auto;
}

.toggleLink>a.active {
    border-radius: 6px;
    background: radial-gradient(3754.38% 142.49% at 96.92% 0%, #F5F10E 0%, #48DAB7 100%);
    color: #191B1E;
}

.navlinks {
    border-radius: 16px;
    border: 1px solid #3C3F43;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navLink {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #E0E3E6;
    gap: 12px;
    transition: .3s ease all;
    position: relative;
    z-index: 1;
}

.navLink img {
    filter: grayscale(1);
}

.navLink::before,
.navLink::after {
    position: absolute;
    z-index: -1;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 8px;
    display: block;
    background: #191C1F;
    content: "";
}

.navLink.active::after,
.navLink:hover::after {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: -2;
    background-image: linear-gradient(232deg, #F5F10E, #48DAB7);
}

.navLink.active img {
    filter: unset;
}

.swapContainerBox {
    border-radius: 16px;
    border: 1px solid rgba(97, 100, 107, 0.10);
    background: #1B1D20;
    box-shadow: 0px 9px 15px 7px rgba(0, 0, 0, 0.10);
    max-width: 480px;
    margin: 0 auto;
    padding: 24px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.swap_top_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.selectCoinLeft {
    position: relative;
    z-index: 1;
}

.selectedCoin {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.coinItem {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px;
}

.selectCoinList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    z-index: 11;
    right: 10px;
    top: 100%;
    background: #202226;
    border-radius: 8px;
    border: 1px solid rgba(97, 100, 107, 0.10);
    min-width: 100%;
    transition: .3s ease all;
    width: 240px;
    z-index: 99;
}

.selectCoinLeft ul.selectCoinList {
    width: 150px;
}

.coinItemRight {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.coinNameIcon {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.swapMenuBtn {
    background: transparent;
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    flex-shrink: 0;
    display: flex;
}

.swapPayReceive {
    border-radius: 8px;
    border: 1px solid rgba(97, 100, 107, 0.10);
    background: #202226;
    display: flex;
    padding: 16px;
}

.swapPayReceive>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payReRight {
    text-align: right;
    align-items: flex-end;
}

.switchBtn {
    display: block;
    margin: -14px auto;
    background: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    padding: 0;
}

.payReLeft p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.selectCoin {
    position: relative;
    border-radius: 8px;
    border: 1px solid rgba(97, 100, 107, 0.10);
    background: #1B1D20;
    padding: 12px 8px;
}

.walletAddress {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.amount input {
    background: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    color: #888B92;
    max-width: 100%;
}

.amount input::-webkit-outer-spin-button,
.amount input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.amount input[type=number] {
    -moz-appearance: textfield;
}

.amount input::placeholder {
    color: #888B92;
}

.amount {
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    color: #888B92;
}

.refreshWallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #rgba(97, 100, 107, 0.10);
    padding: 12px 16px;
}

.refReshBtn {
    background: transparent;
    border: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
}

.gassFeeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 8px 16px;
    border-bottom: 1px solid rgba(97, 100, 107, 0.10);
}

.slipageTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px 16px;
    position: relative;
}

.slippageLeft,
.gassFeeLeft {
    color: #B3B7BF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
}

.slipageSelect select {
    background: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    appearance: none;
    color: #E0E3E6;
}
.slipageSelect {
    cursor: pointer;
}

.slipageSelect select option {
    background: #1B1D20;
}

.slipageToggle {
    padding: 8px 16px 16px 16px;
}

.slipageList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(97, 100, 107, 0.10);
}

.slipageList:last-child {
    border: 0;
}

.slipageListLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.3px;
    color: #B3B7BF;
}

.slipageListRight .fw6 {
    color: #B3B7BF;
}

.enterAmount {
    border-radius: 8px;
    border: 1.5px solid rgba(97, 100, 107, 0.30);
    background: rgba(148, 151, 158, 0.16);
    font-weight: 600;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.3px;
    color: #B3B7BF;
    padding: 12px;
    outline: none;
    box-shadow: none;
}

.swapContainerArea {
    padding: 34px 0;
    max-height: calc(100vh - 160px);
    overflow: auto;
}

button.MainYellowActionButton {
    display: block;
    width: 100%;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #191B1E;
    border-radius: 8px;
    background: #EFEB00;
    padding: 12px;
    outline: none;
    box-shadow: none;
    border: 0;
}

.swiperAddSlider .swiper-pagination {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 8px;
}

.swiperAddSlider .swiper-pagination span.swiper-pagination-bullet {
    flex: 1;
    border-radius: 4px;
    background: #3C3F43;
    opacity: 1;
}

.swiperAddSlider .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #888B92 !important;
}

.soon {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    background: rgba(148, 151, 158, 0.16);
    padding: 2px 10px;
}

.sidebarSliderArea img {
    width: 100%;
}

.copyAddress {
    background: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    padding: 0;
}

.Copyalert {
    position: fixed;
    z-index: 1111;
    left: 0;
    top: auto;
    bottom: 70px;
    width: 100vw !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    max-width: unset;
    padding-left: 280px;
}

.Copyalert img {
    background-color: #111112;
    border-radius: 8px;
}


.slipageModal {
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 70%;
    left: 30px;
    border-radius: 8px;
    border: 1px solid #3C3F43;
    background: #1B1D20;
    box-shadow: 0px 2px 12px 6px rgba(0, 0, 0, 0.20);
    padding: 16px;
}

.slipageModalTitle {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.3px;
    color: #B3B7BF;
    margin-bottom: 8px;
}

.slipageValue {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-grow: 1;
}

.valueItem {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #B3B7BF;
    width: 60px;
    flex-shrink: 0;
    text-align: center;
    padding: 6px 14px;
    white-space: nowrap;
    border-radius: 6px;
    background: rgba(148, 151, 158, 0.16);
    cursor: pointer;
    flex-grow: 1;
}

.slipageValueBox {
    display: flex;
    align-items: center;
    gap: 6px;
}

.customeValue {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    border: 1px solid rgba(97, 100, 107, 0.30);
    background:#1B1D20;
    padding: 7px 12px;
    height: 32px;
    max-width: 135px;
    color: #B3B7BF;
    text-align: right;
    justify-content: space-between;
}

.customeValue input {
    background: transparent;
    outline: none;
    box-shadow: none;
    border: 0;
    max-width: calc(100% - 30px);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    text-align: left;
}

.customeValue input::placeholder {
    color:#888B92;
}

.customeValue input::-webkit-outer-spin-button,
.customeValue input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.customeValue input[type=number] {
  -moz-appearance: textfield;
}

.valueItem.active {
    background: #FFF;
    color: #191B1E;
}

.swapMenuBtn.active .closeMenu{
    display: block;
}   

.swapMenuBtn.active .openMenu,
.closeMenu {
    display: none;
}

.swapMenuContainer {
    position: relative;
    z-index: 1;
}

.swapMenuContainer .slipageModal {
    right: 0;
    left: auto;
    top: 100%;
}